*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    transition: 1s;
    width: 100%;
    background-color: #436fa4;
}
.content{
    width: 250px;
    margin:  auto ;
    padding: 8px;
    border-radius:  10px;
    position: relative;
    top: 40%;
    background-color: rgb(203, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}
#btn{
    width: 230px;
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
    border: transparent;
    color: white;
    background-color: black;
}
.solid{

}